.idea

.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock.info
terraform-provider-rke-tmp-*
helmfile-*.yaml
.shoal

examples/complete/example_custom.tfvars

tmp/*
!tmp/.gitkeep
